*{
    margin: 0;
    padding: 0;
}
ol{
    /* height:100vh; */
    text-align: center;
    align-items: center;
    align-self: center;
    justify-content: center;
    margin-top: 25vh;
    border: 5px solid black;
    background-color: antiquewhite;
}
li{
    padding-top: 5px;
    font-size: 20px;
}
